.filter-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.filter-group:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

#filter-min-score,
#filter-max-score {
  position: absolute;
  width: 100%;
  pointer-events: none;
  background: none;
  appearance: none;
  margin-top: 25px;
}

#filter-min-score::-webkit-slider-thumb,
#filter-max-score::-webkit-slider-thumb {
  pointer-events: auto;
  position: relative;
  z-index: 2;
}

.filter-group.slider-group {
  position: relative;
  padding-bottom: 10px;
}
